<div class="tiles-container" [@stagger]>
  <div [@flyInOut]="'in'" *ngFor="let tile of tiles; trackBy: trackByFn">
    <app-tile *ngIf="tile" [item]="tile"></app-tile>
  </div>
</div>

<div class="tiles-container2" [@stagger]>
  <div
    [@shiftNew]="i"
    class="tile"
    *ngFor="let tile of tiles; index as i; trackBy: trackByFn"
  >
    <app-tile [item]="tile"></app-tile>
  </div>
</div>

<div class="button-container">
  <button (click)="shift()">shift</button>
  <button (click)="add()">add</button>
  <button (click)="remove()">remove</button>
  <button (click)="random()">random</button>
  <button (click)="resetRnd()">randomRst</button>
</div>
